body{
  background-color:  rgba(32, 63, 96, 1);
}
header{
  background-image:  url(../images/mountainfog5.jpg);
  background-size: cover;
  padding:  12px;
  text-align: center;
  font-family:Garamond, Georgia, serif;
  font-size:  20px;
}
.edgepadding{
  padding: 30px;
}
nav{
  background-color:  rgb(24, 47.25, 72);
  width: 15%;
  float: left;
  height: 435px;
  padding-left: -10px;
  padding-right: 10px;
}
section{
  //background-color: rgb(158, 189, 224);
  background-color: rgb(134.3, 160.65, 190.4);
  //padding:  10px, 30px, 10px, 19%;
  padding-top:  10px;
  padding-right: 17px;
  padding-left:  17%;
  padding-bottom: 45px;
  font-family: arial, helvetica, sans-serif;
}
a{
  text-decoration: none;
  display: block;
  padding: 2px;
  color: rgb(158, 189, 224);
  font-family: arial, helvetica, sans-serif;
}
a:hover{
  border:2px solid rgb(158, 189, 224);
}
.currentactive{
  background-color: rgb(158, 189, 224);
  color: #000000;
}
nav li{
  list-style: none;
  padding: 4px;
}
img{
  padding:2px;
  border:6px solid #4e3318;
  background-color:#edd9c4;
  margin-left: 20px;
  margin-bottom: 20px;
}
h3{
  padding: 5px;
}
footer{
  color: rgb(158, 189, 224);
}

/*WHY DO THESE MESS EVERYTHING UP WHEN THEY'RE REMOVED OR EVEN MOVED BELOW THE REST OF THE CODE, YET THEY'RE NOT IN THE HTML CODE?*/
.containerleft{
  float: left;
  padding: 10px;
  padding-bottom: 40px;
}
.containerright
  float: right;
  padding: 10px;
  padding-bottom: 40px;
}

/*BACK TO INTENTIONAL CODE*/
.floatleft{
  float: left;
}
.floatright{
  float: right;
}
.clearfix{
  overflow: auto;
}
.divcolumn2 {
  column-count: 2;
  column-width: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}
.img-container {
        text-align: center;
      }
div.height{
  height=100px;
}
